<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainLayout</key>
	<dict>
		<key>isLoginWhenFirstLaunchApp</key>
		<true/>
		<key>LoginVCBGImageName</key>
		<string></string>
		<key>AppLogoBigImageName</key>
		<string>ic_big_logo</string>
		<key>AppLogoSmallImageName</key>
		<string></string>
		<key>isMineCenterNaviHidden</key>
		<true/>
		<key>Style</key>
		<integer>2</integer>
		<key>LoginViewControllerName</key>
		<string>EFLoginWithThirdViewController</string>
		<key>RegisterViewControllName</key>
		<string>EFRegisterViewController</string>
		<key>ForgetPassWordViewControllName</key>
		<string>EFForgetPasswordViewController</string>
		<key>TabHome</key>
		<dict>
			<key>TitleArray</key>
			<array>
				<string>第一个</string>
				<string>第二个</string>
				<string>第三个</string>
				<string>第四个</string>
			</array>
			<key>NormalImageArray</key>
			<array>
				<string>tabbar_homepage</string>
				<string>tabbar_lungu</string>
				<string>tabbar_message</string>
				<string>tabbar_news</string>
			</array>
			<key>SelectedImageArray</key>
			<array>
				<string>tabbar_homepage_active</string>
				<string>tabbar_lungu_active</string>
				<string>tabbar_message_active</string>
				<string>tabbar_news_active</string>
			</array>
			<key>VCClassName</key>
			<array>
				<string>OneViewController</string>
				<string>TwoViewController</string>
				<string>ThreeViewController</string>
				<string>FourViewController</string>
			</array>
		</dict>
	</dict>
	<key>SkinTheme</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Title</key>
			<string>默认主题</string>
			<key>TextColor</key>
			<dict>
				<key>WhiteDivider</key>
				<string>#CCCCCC</string>
				<key>WhiteHint</key>
				<string>#FFFFFF4D</string>
				<key>WhiteSecondary</key>
				<string>#FFFFFFB3</string>
				<key>WhiteNormal</key>
				<string>#FFFFFFFF</string>
				<key>BlackDivider</key>
				<string>#0000001F</string>
				<key>BlackHint</key>
				<string>#00000042</string>
				<key>BlackSecondary</key>
				<string>#0000008A</string>
				<key>BlackNormal</key>
				<string>#000000DE</string>
				<key>Black87</key>
				<string>#212121</string>
				<key>TextColorPrimary</key>
				<string>#1a1a1a</string>
				<key>TextColorPrimaryDark</key>
				<string>#303F9F</string>
				<key>TextColorAccent</key>
				<string>#03AEEF</string>
				<key>TextColorSecondary</key>
				<string>#9b9b9b</string>
				<key>TextColorDisable</key>
				<string>#d8d8d8</string>
				<key>TextColorNavigation</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginPrimary</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginSecondary</key>
				<string>#000000</string>
				<key>TextColorLoginDisable</key>
				<string>#000000</string>
				<key>LoginTextFieldPlaceHolderColor</key>
				<string>#FFFFFF</string>
				<key>TextColorButtonNormal</key>
				<string>#FFFFFF</string>
				<key>TextColorButtonHighlighted</key>
				<string>#F59C01</string>
				<key>TextColorButtonSelected</key>
				<string>#6EC742</string>
				<key>TextColorButtonDisable</key>
				<string>#6EC742</string>
				<key>TextColorTabberNormal</key>
				<string>#FF3333</string>
				<key>TextColorTabberSelected</key>
				<string>#663300</string>
			</dict>
			<key>BackgroundColor</key>
			<dict>
				<key>BGTextFiledColorLogin</key>
				<string>#000000</string>
				<key>MainColor</key>
				<string>#FF3333</string>
				<key>BGColorPrimary</key>
				<string>#99FFFF</string>
				<key>BGColorSecondary</key>
				<string>#1A1A1A</string>
				<key>BGButtonColorNormal</key>
				<string>#0099FF</string>
				<key>BGButtonColorHighlighted</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorSelected</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorDisable</key>
				<string>#000000</string>
			</dict>
			<key>OtherColor</key>
			<dict>
				<key>SkinThemeKey_Color_One</key>
				<string></string>
				<key>SkinThemeKey_Color_Two</key>
				<string></string>
				<key>SkinThemeKey_Color_Three</key>
				<string></string>
				<key>SkinThemeKey_Color_Four</key>
				<string></string>
				<key>SkinThemeKey_Color_Five</key>
				<string></string>
				<key>SkinThemeKey_Color_Six</key>
				<string></string>
				<key>SkinThemeKey_Color_Seven</key>
				<string></string>
				<key>SkinThemeKey_Color_Eight</key>
				<string></string>
				<key>SkinThemeKey_Color_Nine</key>
				<string></string>
				<key>SkinThemeKey_Color_Ten</key>
				<string></string>
			</dict>
			<key>FontSize</key>
			<dict>
				<key>FontSizeNormal</key>
				<string>17</string>
				<key>FontSizeMiddle</key>
				<string>15</string>
				<key>FontSizeSmall</key>
				<string>13</string>
			</dict>
			<key>SpaceSize</key>
			<dict/>
		</dict>
		<key>Night</key>
		<dict>
			<key>Title</key>
			<string>默认主题</string>
			<key>TextColor</key>
			<dict>
				<key>WhiteDivider</key>
				<string>#CCCCCC</string>
				<key>WhiteHint</key>
				<string>#FFFFFF4D</string>
				<key>WhiteSecondary</key>
				<string>#FFFFFFB3</string>
				<key>WhiteNormal</key>
				<string>#FFFFFFFF</string>
				<key>BlackDivider</key>
				<string>#0000001F</string>
				<key>BlackHint</key>
				<string>#00000042</string>
				<key>BlackSecondary</key>
				<string>#0000008A</string>
				<key>BlackNormal</key>
				<string>#000000DE</string>
				<key>Black87</key>
				<string>#212121</string>
				<key>TextColorPrimary</key>
				<string>#1a1a1a</string>
				<key>TextColorPrimaryDark</key>
				<string>#303F9F</string>
				<key>TextColorAccent</key>
				<string>#03AEEF</string>
				<key>TextColorSecondary</key>
				<string>#9b9b9b</string>
				<key>TextColorDisable</key>
				<string>#d8d8d8</string>
				<key>TextColorNavigation</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginPrimary</key>
				<string>#FFFFFF</string>
				<key>TextColorLoginSecondary</key>
				<string>#000000</string>
				<key>TextColorLoginDisable</key>
				<string>#000000</string>
				<key>TextColorButtonNormal</key>
				<string>#FFFFFF</string>
				<key>TextColorButtonHighlighted</key>
				<string>#F59C01</string>
				<key>TextColorButtonSelected</key>
				<string>#6EC742</string>
				<key>TextColorButtonDisable</key>
				<string>#6EC742</string>
				<key>TextColorTabberNormal</key>
				<string>#000000</string>
				<key>TextColorTabberSelected</key>
				<string>#663300</string>
			</dict>
			<key>BackgroundColor</key>
			<dict>
				<key>BGTextFiledColorLogin</key>
				<string>#000000</string>
				<key>MainColor</key>
				<string>#D0021B</string>
				<key>BGColorPrimary</key>
				<string>#99FFFF</string>
				<key>BGColorSecondary</key>
				<string>#1A1A1A</string>
				<key>BGButtonColorNormal</key>
				<string>#0099FF</string>
				<key>BGButtonColorHighlighted</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorSelected</key>
				<string>#F7F7F7</string>
				<key>BGButtonColorDisable</key>
				<string>#000000</string>
			</dict>
			<key>OtherColor</key>
			<dict>
				<key>SkinThemeKey_Color_One</key>
				<string></string>
				<key>SkinThemeKey_Color_Two</key>
				<string></string>
				<key>SkinThemeKey_Color_Three</key>
				<string></string>
				<key>SkinThemeKey_Color_Four</key>
				<string></string>
				<key>SkinThemeKey_Color_Five</key>
				<string></string>
				<key>SkinThemeKey_Color_Six</key>
				<string></string>
				<key>SkinThemeKey_Color_Seven</key>
				<string></string>
				<key>SkinThemeKey_Color_Eight</key>
				<string></string>
				<key>SkinThemeKey_Color_Nine</key>
				<string></string>
				<key>SkinThemeKey_Color_Ten</key>
				<string></string>
			</dict>
			<key>FontSize</key>
			<dict>
				<key>FontSizeNormal</key>
				<string>17</string>
				<key>FontSizeMiddle</key>
				<string>15</string>
				<key>FontSizeSmall</key>
				<string>13</string>
			</dict>
			<key>SpaceSize</key>
			<dict/>
		</dict>
	</dict>
	<key>MineCenter</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>我的订单</string>
				<key>imageName</key>
				<string></string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的评论</string>
				<key>imageName</key>
				<string></string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我要爆料</string>
				<key>imageName</key>
				<string></string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>我的收藏</string>
				<key>imageName</key>
				<string></string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>系统消息</string>
				<key>imageName</key>
				<string></string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
	</array>
	<key>Setting</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>推送通知</string>
				<key>accessoryView</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>title</key>
				<string>一键换肤</string>
				<key>accessoryView</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>title</key>
				<string>使用帮助</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>关于我们</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>账号设置</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>版本更新</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>退出登录</string>
				<key>accessoryView</key>
				<string>nil</string>
			</dict>
		</array>
	</array>
	<key>AccountSetting</key>
	<array>
		<dict>
			<key>title</key>
			<string>编辑资料</string>
			<key>imageName</key>
			<string></string>
			<key>accessoryView</key>
			<string>arrow</string>
		</dict>
	</array>
	<key>EditMineProfile</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>头像</string>
				<key>accessoryView</key>
				<string>nil</string>
			</dict>
			<dict>
				<key>title</key>
				<string>昵称</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>性别</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生日</string>
				<key>accessoryView</key>
				<string>arrow</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>个人简介</string>
				<key>accessoryView</key>
				<string>nil</string>
			</dict>
		</array>
	</array>
	<key>Mall</key>
	<dict>
		<key>isLocation</key>
		<true/>
		<key>isAD</key>
		<true/>
		<key>isStore</key>
		<true/>
		<key>isMultipleSection</key>
		<false/>
		<key>isClass</key>
		<true/>
		<key>isStock</key>
		<true/>
		<key>ListArray</key>
		<array>
			<string>分类</string>
			<string>位置</string>
			<string>排序</string>
		</array>
		<key>FiltrateArray</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>分类1</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>分类2</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>分类3</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>分类4</string>
					<key>objectId</key>
					<string></string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>位置1</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>位置2</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>位置3</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>位置4</string>
					<key>objectId</key>
					<string></string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>销量由高到低</string>
					<key>objectId</key>
					<string>SALES_ASC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>销量由低到高</string>
					<key>objectId</key>
					<string>SALES_DESC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>价格由高到低</string>
					<key>objectId</key>
					<string>PRICE_ASC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>价格由低到高</string>
					<key>objectId</key>
					<string>PRICE_DESC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>评分由高到低</string>
					<key>objectId</key>
					<string>EVALUATE_ASC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>评分由低到高</string>
					<key>objectId</key>
					<string>EVALUATE_DESC</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>分享</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>收藏</string>
					<key>objectId</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>问诊</string>
					<key>objectId</key>
					<string></string>
				</dict>
			</array>
		</array>
		<key>DetailsButtonArray</key>
		<array>
			<string>问诊</string>
			<string>加入购物车</string>
		</array>
	</dict>
	<key>ServerAddressURL</key>
	<string>http://120.25.123.181:8089/stock_king</string>
</dict>
</plist>
